@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('./fonts/iconfont.ttf') format('truetype');
}

[class*='gmicon'] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gmicon-tianjia:before {
    content: "\e622";
}

.gmicon-sousuo:before {
    content: "\e623";
}

.gmicon-shanchu:before {
    content: "\ec7b";
}